---
import SponsorGrid from "/src/ui/homepage-sections/SponsorGrid.astro";
import { getCollection } from "astro:content";

const unsorted = await getCollection("companies");
const bronze = unsorted.filter((it) => it.data.tier == "bronze");
const silver = unsorted.filter((it) => it.data.tier == "silver");
const gold = unsorted.filter((it) => it.data.tier == "gold");
const platinum = unsorted.filter((it) => it.data.tier == "platinum");
const companies = [...platinum, ...gold, ...silver, ...bronze];
---

<section id="sponsors">
  <h2>Sponsors</h2>
  <p>IEEE UMN is proudly sponsored by:</p>
  <SponsorGrid companies={companies} />
</section>
