---
import HomeButton from "/src/ui/HomeButton.astro";
import NavButton from "/src/ui/NavButton.astro";
import ThemeSwitcher from "/src/ui/ThemeSwitcher.astro";

const { current, navigation } = Astro.props;
---

<header>
  <div id="header">
    <a
      class="logo"
      aria-label="Back to home"
      aria-current={current == "" && "page"}
      href="/"
    >
      <HomeButton />
    </a>
    <div id="buttons">
      <NavButton />
      {/* <ThemeSwitcher /> */}
    </div>
    <nav id="navMenu">
      <ul>
        {
          navigation.map(([text, url]: [string, string]) => (
            <li>
              <a aria-current={current == url && "page"} href={url}>
                {text}
              </a>
            </li>
          ))
        }
      </ul>
    </nav>
  </div>
</header>

<style>
  header {
    font-family: var(--font-sans);
    position: sticky;
    top: 0;
    z-index: 100;
    background: oklch(from var(--color-n0) l c h / 0.75);
    backdrop-filter: blur(12px);
    border-bottom: var(--thick-1) solid var(--color-n5);
  }

  @media print {
    header {
      position: relative;
    }
  }

  #header {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    padding: 8px;
    margin: auto;
    max-width: 1000px;
  }

  @media (max-width: 600px) {
    #header {
      grid-template-columns: 1fr auto;
    }
  }

  .logo {
    order: 0;
    width: fit-content;
    border-radius: var(--radius-2);

    img,
    svg {
      aspect-ratio: 1 / 1;
      height: 32px;
      margin: 0;
      border: none;
    }
  }

  nav {
    order: 0;

    ul {
      display: flex;
      list-style: none;
      gap: 24px;
      margin: 0;
      padding: 0;
    }

    a {
      display: block;
      border-radius: var(--radius-2);
      padding: 6px;
      text-decoration: none;
    }

    a:hover {
      background-color: var(--color-n2);
    }
  }

  @media (max-width: 600px) {
    nav {
      order: 1;
      ul {
        display: none;
      }
    }

    nav[open] {
      grid-column: 1 / -1;
      ul {
        display: block;
      }
    }
  }

  #buttons {
    order: 1;
    display: flex;
    justify-self: end;
    align-items: center;
    gap: 12px;
  }
</style>
